.centered-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 50vh; /* Altura del viewport */
}

.video-player-container {
  /* Estilos para tu contenedor de video */
}

.video-player {
  /* Estilos para tu reproductor de video */
}
